{% extends "auctions/layout.html" %}
{% load staticfiles %}

{% block body %}
<div class="container">
    <div class="row listing-page">
        <div class="col-8 listing-info">
            <h1>
                {{ auction.title }}
                {% if user.is_authenticated %}
                    <a class="control-svg" href="{% url 'watch' auction.pk %}">
                        {% if is_watching %}
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-slash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.79 12.912l-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                                <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708l-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829z"/>
                                <path fill-rule="evenodd" d="M13.646 14.354l-12-12 .708-.708 12 12-.708.708z"/>
                            </svg>
                        {% else %}
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                            </svg>
                        {% endif %}
                    </a>
                    {% if auction.seller == user %}
                        <a class='control-svg' href="{% url 'close' auction.pk %}">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                            </svg>
                        </a>
                    {% endif %}
                {% endif %}
            </h1>
            {% if auction.winner == user %}
                <h2>Congratulations! You are the winner of this auction.</h2>
            {% endif %} 
            <h4>           
                {{auction.description}} 
            </h4>

            <div class="bidding">
                <p class="bid-label">CURRENTLY</p>
                <h2>${{auction.bid_current.bid}}</h2>
                {% if user.is_authenticated %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="number" step="0.01" name="bid" id="bid" value="{{auction.bid_current.bid}}" min="{{auction.bid_current.bid}}" required>
                    <button type="submit">Place Bid</button>
                </form>
                {% endif %}
            </div>
            
            <div class="comments">
                <h3>Comments</h3>
                {% for comment in comments %}
                    <div class="comment">
                        <h5>{{comment.author}} says...</h5>
                        <p>{{comment.content}}</p>
                    </div>
                {% endfor %}
                <h3>Leave a Comment</h3>
                <form action="{% url 'comment' auction.pk %}" method="POST">
                    {% csrf_token %}
                    <textarea id="comment-text" name="comment-text" rows=6></textarea>
                    <button type="submit">Post Comment</button>
                </form>
            </div>
        </div>
        <div class="col-4">
            {% if auction.img %}
                <img src="{{ auction.img }}" class="listing-img">
            {% else %}
                <img src="{% static 'auctions/media/no-image.png' %}" class="listing-img">
            {% endif %}
            <p>Listed by {{auction.seller}} </p>
        </div>
    </div>
</div>
{% endblock %}